@import "_Banner";
@import "_HomeScreen";
@import "_Nav";
@import "_Row";
@import "_LoginScreen";

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  background-color: #111;
  //height: 100vh;
}
